.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding-top: 3.2rem;
}

.logoLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 0.4rem;
    font-size: 4.2rem;
    text-decoration: none;
    color: var(--primary);
    /* Transição ao passar o mouse em cima. Em conjunto com o filter abaixo */
    transition: all 0.1s ease-in-out; 
}

.logoLink:hover {
    filter: brightness(50%);
}

/* poderiamos por somente um size={64} para aumentar o tamanho do ícone, mas com CSS ele vira svg: */
.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
}