.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.menuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: var(--primary);
    color: var(--text-over-primary);
    /* Transição ao passar o mouse em cima. Em conjunto com o filter abaixo */
    transition: all 0.1s ease-in-out;
    padding: 1rem;
    border-radius: 0.8rem;
}

.menuLink:hover {
    filter: brightness(80%);
}

/* poderiamos por somente um size={64} para aumentar o tamanho do ícone, mas com CSS ele vira svg: */
.menuLink svg {
    width: 2.5rem;
    height: 2.5rem;
}